body{
margin: 0px;
font-family: sans-serif; 
}
.icon{
  width: 40px;
  object-fit: contain;
  margin-right: 10px;
}
.logo{
  display: flex;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  padding-top: 20px;
}

.right-section{
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.info-card{
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 50px;
  
}

.description, .cover-photo{
  flex: 1;
 
}
.david-cover-photo,.description{
  width: 500px;

}

.container{
  padding-left: 100px;
  background-color: #1F2937;
  padding-bottom: 100px;
  
}

.name{
  margin-top: 0px;
  font-size: 48px;
  color: #F9FAF8;
 
}

.david-cover-photo{
  object-fit: cover;
 
}
.para{
  color: #E5E7EB;
  font-size: 18px;
}

.shop-button{
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  color:#F9FAF8;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  opacity: 0.6;
}

button:active{
  opacity: 0.4;
}

h3:hover{
  opacity: 0.5;
}

.facts-boxs{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.facts-image{
  width: 150px;
  height: 180px;
}

.sub-text{
  width: 150px;
  font-size: 12px;
}

.facts-heading{
  text-align: center;
}

.facts-container{
  margin-top: 40px;
  margin-bottom: 20px;
}

.quote-container{
 background-color: #E5E7EB;
}
.quote-box{
 margin: auto;
 width: 50%;
 padding-top: 40px;
 padding-bottom: 40px;;
}

.quote-paragraph{
  margin: 0px;
  color: #1F2937;
  font: 36px light;
  font-style: italic;
}
.quote-subtext{
  text-align: end;
  font-weight: bold;
  margin-top: 0px;
}

.signup-box{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #3882F6;
  border-radius: 10px;
  margin: 80px 180px 80px;
}

.text-subtext{
  margin-top: 2px;
  color: white;
}
.text-title{
  margin-bottom: 3px;
  color: white;
  font-weight: bold;
}

.content-box{
  padding: 20px 50px;
}
.signup-button{
  border: 2px solid white;
  color: white;
  font-weight: bold;
  background-color:#3882F6;
  border-radius: 8px;
  padding: 6px 10px;
}

footer{
  height: 60px;
  background-color: #1F2937;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;;
}
span{
  color: rgb(213, 14, 14);
  font-size: 17px;
}

.cover-box{
  display: flex;

}

.cover-photo, .cover-text{
   flex: 1;
}

.cover-photo{
  width: 400px;
  height:400px;;
}